.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    .elements {
        display: flex;
        align-items: center;
        gap: 24px;
        div {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100%;
            width: 35px;
            height: 35px;
        }
    }
}