.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    .loader {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 104px;
        width: 104px;
        position: relative;
        .svg {
          position: absolute;
          z-index: 3;
        }
      }

    .avatar {
        width: 104px;
        height: 104px;
        max-height: 100%;
        max-width: 100%; 
        border-radius: 100%;
    }

    &:hover .change {
        opacity: 1;
        visibility: visible;
    }
}