.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 104px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    cursor: pointer;
}
