.wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 405px;
    width: 100%;
    gap: 12px;
    .leftItems {
        display: flex;
        align-items: flex-end;
        max-width: 125px;
        .circle {
            display: flex;
            align-items: center;
            justify-content: center;
            max-width: 35px;
            max-height: 35px;
            padding: 15px;
            border-radius: 50px;
            position: relative;
            right: 15px;
            top: 15px;
            p {
                font-size: 14px;
                font-weight: 700;
                line-height: 24px;
            }
        }
    }

    .rightItems {
        display: flex;
        flex-direction: column;
        gap: 8px;
        
        h3 {
            font-size: 24px;
            font-weight: 600;
            line-height: 29px;
            max-width: 265px;
            width: 100%;
        }
        h4 {
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
            max-width: 265px;
            width: 100%;
        }
        .categoryes {
            display: flex;
            align-items: center;
            gap: 8px;

            a {
                font-size: 14px;
                font-weight: 600;
                line-height: 17px;
            }
        }
    }

}