.wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 20px;

   padding: 112px 0;

   .title {
      display: flex;
      align-items: center;
      flex-direction: column;
      h1 {
         font-size: 95px;
         font-weight: 700;
         line-height: 64px;
      }
      span {
         font-size: 166px;
         font-weight: 700;
         line-height: 201px;
         background: linear-gradient(
            90deg,
            rgb(49, 116, 244),
            rgb(16, 98, 255),
            rgb(43, 163, 255)
         );
         -webkit-background-clip: text;
         background-clip: text;
         color: transparent;
         text-align: center;
         display: flex;
         align-items: center;
      }
   }

   .promoContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 48px;

      div {
         p {
            font-size: 20px;
            font-weight: 400;
            line-height: 32px;

            max-width: 690px;
            width: 100%;
            text-align: center;
         }
      }
   }

   .links {
      display: flex;
      align-items: center;
      gap: 30px;

      .hiddenBtn {
         display: none;
      }
   }
}

@media (max-width: 1820px) {
   .title {
      max-width: 1500px;
      width: auto;
      span {
         font-size: 132px !important;
      }
   }
}

@media (max-width: 1440px) {
   .title {
      h1 {
         font-size: 64px !important;
         line-height: 64px !important;

      }
      span {
         font-size: 112px !important;
         line-height: 136px !important;
      }
   }
}

@media (max-width: 1280px) {
   .title {
      h1 {
         font-size: 58px !important;
         line-height: 52px !important;
      }
      span {
         font-size: 86px !important;
         line-height: 112px !important;

      }
   }
}

@media (max-width: 960px) {
   .title {
      h1 {
         font-size: 56px !important;
         line-height: 40px !important;
      }
      span {
         font-size: 64px !important;
         line-height: 72px !important;

      }
   }
}

@media (max-width: 720px) {
   .title {
      h1 {
         font-size: 44px !important;
         line-height: 52px !important;
      }
      span {
         font-size: 52px !important;
         line-height: 42px !important;
      }
   }
   .promoContainer {
      div {
         p {
            padding: 0 20px !important;
         }
      }
   }
}

@media (max-width: 620px) {
   .title {
      h1 {
         line-height: 48px !important;
      }
      span {
         font-size: 48px !important;
         line-height: 48px !important;
      }
   }
   .promoContainer {
      gap: 24px !important; 
      div {
         p {
            font-size: 16px !important;
            padding: 0 40px !important;
         }
      }

      .links {
         gap: 10px;
         button {
            font-size: 12px;
         }

      }
   }
}

@media (max-width: 540px) {
   .title {
      h1 {
         font-size: 40px !important;
      }
      span {
         font-size: 36px !important; 
      }
   }
}

@media (max-width: 420px) {
   .title {
      h1 {
         font-size: 36px !important;
      }
      span {
         font-size: 32px !important; 
         line-height: 30px !important;
      }
   }
   .promoContainer {
      div {
         p {
            line-height: 24px !important;
         }
      }
      .links {
         .mainBtn {
            display: none;
         }
         .hiddenBtn {
            display: block;
         }
      }
   }
}


