.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  .requirement {
    display: flex;
    flex-direction: column;
    max-width: 1055px;
    width: 100%;
    gap: 5px;
    h3 {
      font-size: 20px;
      font-weight: 600;
      line-height: 32px;
    }
    p {
      font-size: 18px;
      font-weight: 500;
      line-height: 32px;
    }
  }
  .date {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;
    h4 {
      font-size: 16px;
      font-weight: 500;
      line-height: 32px;
    }
  }
}
