.wrapper {
    height: 104px;
    width: 104px;
    border-radius: 100%;
    display: flex;
    border: 1px solid rgba(128, 128, 128, 0.493);
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all ease-in-out 0.2s;
    cursor: pointer;

    .change {
        transition: all ease-in-out 0.2s;
        visibility: hidden;
        opacity: 0;
        position: absolute;
        z-index: 1;
    }
}

.wrapper:hover {
    opacity: 0.5;
    .change {
        opacity: 1;
        visibility: visible;
    }
}
