.relatedTasks {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 818px;
    width: 100%;
  }
}
