.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 440px;
  gap: 16px;


  h1 {
    background: linear-gradient(90deg, rgb(49, 116, 244), rgb(153, 211, 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
  }
  h2 {
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
  }
  a {
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    text-decoration-line: underline;
  }
}
