.checkboxContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.servicePolicyContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
 }